name: Build precompiled NIFs

env:
  NIF_DIRECTORY: native/scene_releasex_nif
  SKIP_SCENE_RELEASEX_BUILD: true

on:
  push:
    tags:
      - '*'

defaults:
  run:
    working-directory: ./native/scene_releasex_nif

jobs:
  build_release:
    name: NIF ${{ matrix.nif }} - ${{ matrix.job.target }} (${{ matrix.job.os }})
    runs-on: ${{ matrix.job.os }}
    strategy:
      fail-fast: false
      matrix:
        nif: ['2.15']
        job:
          - target: aarch64-unknown-linux-gnu
            os: ubuntu-20.04
            use-cross: true
          - target: aarch64-unknown-linux-musl
            os: ubuntu-20.04
            use-cross: true
          - target: aarch64-apple-darwin
            os: macos-latest
          - target: arm-unknown-linux-gnueabihf
            os: ubuntu-20.04
            use-cross: true
          - target: riscv64gc-unknown-linux-gnu
            os: ubuntu-20.04
            use-cross: true
          - target: x86_64-apple-darwin
            os: macos-latest
          - target: x86_64-unknown-linux-gnu
            os: ubuntu-20.04
          - target: x86_64-unknown-linux-musl
            os: ubuntu-20.04
            use-cross: true
          - target: x86_64-pc-windows-gnu
            os: windows-2019
          - target: x86_64-pc-windows-msvc
            os: windows-2019

    env:
      RUSTLER_NIF_VERSION: ${{ matrix.nif }}

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4
        with:
          path: project

      - name: Checkout Rust crate source
        uses: actions/checkout@v4
        with:
          repository: hiddenpdx/scene-release
          path: scene-release
          branch: main

      - name: Install prerequisites
        shell: bash
        run: |
          case ${{ matrix.job.target }} in
            arm-unknown-linux-*) sudo apt-get -y update ; sudo apt-get -y install gcc-arm-linux-gnueabihf ;;
            aarch64-unknown-linux-gnu) sudo apt-get -y update ; sudo apt-get -y install gcc-aarch64-linux-gnu ;;
          esac

      - name: Extract crate information
        shell: bash
        run: |
          echo "PROJECT_NAME=$(sed -n 's/^name = \"\(.*\)\"/\1/p' Cargo.toml | head -n1)" >> $GITHUB_ENV
          echo "PROJECT_VERSION=$(sed -n 's/^  @version \"\(.*\)\"/\1/p' ../mix.exs | head -n1)" >> $GITHUB_ENV

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          target: ${{ matrix.job.target }}
          override: true
          profile: minimal

      - name: Show version
        shell: bash
        run: |
          gcc --version || true
          rustup -V
          rustup toolchain list
          rustup default
          cargo -V
          rustc -V
          rustc --print=cfg

      - name: Install cross
        if: ${{ matrix.job.use-cross }}
        uses: giantswarm/install-binary-action@v1.0.0
        with:
          binary: cross
          version: v0.2.4
          download_url: https://github.com/cross-rs/cross/releases/download/${version}/cross-x86_64-unknown-linux-gnu.tar.gz
          tarball_binary_path: ${binary}
          smoke_test: ${binary} --version

      - name: Build lib
        shell: bash
        run: |
          cd ../project/native/scene_releasex_nif
          printf '[package]\nname = "scene_releasex_nif"\nversion = "0.1.0"\nedition = "2021"\n\n[lib]\nname = "scene_releasex_nif"\npath = "src/lib.rs"\ncrate-type = ["dylib"]\n\n[dependencies]\nrustler = "0.35.1"\nserde = { version = "1.0", features = ["derive"] }\nserde_json = "1.0"\nscene_release = { path = "../../scene-release" }\n' > Cargo.toml
          cd ../../scene-release
          cd ../project/native/scene_releasex_nif
          if [ "${{ matrix.job.use-cross }}" == "true" ]; then
            cross build --release --target=${{ matrix.job.target }}
          else
            cargo build --release --target=${{ matrix.job.target }}
          fi

      - name: Rename lib
        id: rename
        shell: bash
        run: |
          LIB_PREFIX=lib
          case ${{ matrix.job.target }} in
            *-pc-windows-*) LIB_PREFIX="" ;;
          esac
          LIB_SUFFIX=.so
          case ${{ matrix.job.target }} in
            *-apple-darwin) LIB_SUFFIX=.dylib ;;
            *-pc-windows-*) LIB_SUFFIX=.dll ;;
          esac
          CICD_INTERMEDIATES_DIR=$(mktemp -d)
          LIB_DIR=${CICD_INTERMEDIATES_DIR}/released-lib
          mkdir -p ${LIB_DIR}
          LIB_NAME=${LIB_PREFIX}scene_releasex_nif${LIB_SUFFIX}
          LIB_PATH=${LIB_DIR}/${LIB_NAME}
          cp target/${{ matrix.job.target }}/release/${LIB_NAME} ${LIB_DIR}
          LIB_FINAL_SUFFIX=${LIB_SUFFIX}
          case ${{ matrix.job.target }} in
            *-apple-darwin) LIB_FINAL_SUFFIX=.so ;;
          esac
          LIB_FINAL_NAME=${LIB_PREFIX}scene_releasex_nif-v${PROJECT_VERSION}-nif-${RUSTLER_NIF_VERSION}-${{ matrix.job.target }}${LIB_FINAL_SUFFIX}
          cp ${LIB_PATH} ${LIB_FINAL_NAME}
          tar -cvzf ${LIB_FINAL_NAME}.tar.gz ${LIB_FINAL_NAME}
          LIB_FINAL_PATH=${NIF_DIRECTORY}/${LIB_FINAL_NAME}.tar.gz
          echo LIB_FINAL_PATH=${LIB_FINAL_PATH} >> $GITHUB_ENV
          echo LIB_FINAL_NAME=${LIB_FINAL_NAME}.tar.gz >> $GITHUB_ENV

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.LIB_FINAL_NAME }}
          path: ${{ env.LIB_FINAL_PATH }}

      - name: Publish archives and packages
        uses: softprops/action-gh-release@v1
        with:
          files: |
            ${{ env.LIB_FINAL_PATH }}
        if: startsWith(github.ref, 'refs/tags/')
